/*.root {
    -fx-app-background: cornsilk;
    -fx-background-color: -fx-app-background;
    -fx-padding: 20;
}*/

.right-page-turn {
    -fx-rotate: 3;
    -fx-translate-y: -2;
    -fx-background-insets: 20 10 15 80;
    -fx-background-color: -fx-app-background;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 15);
}
.btn-success{
    -fx-background-color: #28a745;
}

.btn-info{
    -fx-background-color: #17a2b8;
}

.btn-danger{
    -fx-background-color: #dc3545;
}

.btn-warning{
    -fx-background-color: #ffc107;
}

.tab{
    -fx-pref-width: 160;
    -fx-pref-height: 60;
}
/*
.content-pane {
    -fx-background-color: whitesmoke;
}*/